<option value="Aluminum">Aluminum</option>
<option value="Brass">Brass</option>
<option value="Bronze">Bronze</option>
<option value="Carbon Fiber">Carbon Fiber</option>
<option value="Ceramic">Ceramic</option>
<option value="Gem-set">Gem-set</option>
<option value="Gold & Steel">Gold& Steel</option>
<option value="Gold-plated"> Gold-plated</option>
<option value="Palladium">Palladium</option>
<option value="Plastic">Plastic</option>
<option value="Platinum">Platinum</option>
<option value="Red Gold">Red Gold</option>
<option value="Rose Gold">Rose Gold</option>
<option value="Rubber">Rubber</option>
<option value="Sapphire Crystal">Sapphire Crystal</option>
<option value="Silver">Silver</option>
<option value="Stainless Steel">Stainless Steel</option>
<option value="Tantalum">Tantalum</option>
<option value="Titanium">Titanium</option>
<option value="Tungsten">Tungsten</option>
<option value="White Gold">White Gold</option>
<option value="Yellow Gold">Yellow Gold</option>
<option value="Other">Other</option>