<option value="Glass">Glass</option>
<option value="Mineral Glass">Mineral Glass</option>
<option value="Plastic">Plastic</option>
<option value="Plexiglass">Plexiglass</option>
<option value="Sapphire Crystal">Sapphire Crystal</option>
<option value="Other">Other</option>